body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: black; 
    padding: 1em 0; 
    text-align: center; 
    width: 100%;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}


nav ul li {
    display: inline; 
    margin: 0 1em; 
}


nav ul li a {
    text-decoration: none; 
    color: #ff6f61; 
    font-weight: bold;
}


section {
    padding: 2em; 
    text-align: center; 
}


.map-container {
    margin: 0 auto;
    max-width: 800px;
}

.map-container iframe {
    width: 80%;
    height: 350px;
    border: 0;
}

.localizacao {
    width: 100%;
}
img {
    max-width: 100%; 
    height: auto; 
    border-radius: 8px;
}


footer {
    background-color: orange;
    text-align: center;
    padding: 1em 0; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    max-width: 960px;
    overflow: hidden;
    justify-content: center;
    
}

.carousel {
    display: flex;
    align-items: center;
}

.carousel-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}